<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Dreamy - A Ginger Ninja! template</title>
<link rel="stylesheet" href="template/style.css" type="text/css" media="screen" />
<style type="text/css">
	{{css}}
</style>
</head>

<body>

<div id="wrapper">

	<div id="header">
		<h1>* Duerme en Madrid *</h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/alojamientos">Alojamientos</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>



	<div id="content">
		<h1>** Información de la práctica **</h1>
		</br></br></br></br></br>
		<p>Cualquier usuario que no esté registrado se encontrará en la página principal los 10 hoteles más comentados en
		 	caso de que los hubiera, si no se encontrará la página en blanco. En el menú de "Alojamientos" verá un listado de todos
			los hoteles los cuales podrán ser filtrados por Categoria o SubCategoria. Pinchando sobre su nombre les llevara a /alojamiento/id
			donde podrán ver información más detallada del hotel, así como sus comentarios si los hubiera.</p>
		<p>Los usuarios que estén registrados, aparte de la funcionalidad anteriormente descrita, podrán modificar el tamaño de fuente,
			el fondo y el titulo de su pagina personal. En los alojamientos podrán seleccionar visualizarlos en otros dos idiomas y agregarlos
			para verlos en sus páginas personales.</p>
		<p>Tanto los usuarios registrados como los que no podrán ver las paginas personales con la selección de hoteles de otros usuarios</p>
		<h2>Ángela Rubio Palomo</h2></br></br>
		</div>
	</div>

	<div id="footer">
		<div id="footer-valid">
			<h4>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</h4>
		</div>
	</div>

</div>

</body>
</html>
